.navbar {
  background-color: #424242;
  padding: 10px;
  width: 100%;
}

.navbarList {
  list-style: none;
  display: flex;
  justify-content: center;
}

.navbarItem {
  margin: 0 10px;
}

.navbarItem a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
